.material-card {
  width        : 260px;
  height       : 525px;
  padding      : 40px 20px;
  background   : #FFFFFF;
  box-shadow   : 0 0 15px #000;
  box-shadow   : 0px 0px 15px 0px rgba(37, 65, 82, 0.2);
  border-radius: 10px;
  transition   : .3s;

  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(37, 65, 82, 0.2);
    transform : scale(0.99);
  }

  &-img {
    height       : 220px;
    margin-bottom: 40px;
  }

  &__img {
    object-fit: contain;
    height    : 100%;
  }

  &__title {
    font-size    : 20px;
    margin-bottom: 20px;
    font-weight  : 700;
  }

  &__description {
    margin-bottom: 40px;
  }
}