<section class="price section_blue">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Сравнение стоимости и качества штукатурных работ
      </h3>
      <p class="section-description">
        Мы используем только качественные материалы для механизированной штукатурки
      </p>
    </div>

    <ul class="price-list">
      <li class="price-list__item">
        <div class="price-list-previev">
          <img src="img/work-1.png" alt="work-1" class="price-list-previev__img">
        </div>
        <h3 class="price-list__title">СНиП “Простая” штукатурка</h3>
        <span class="price-list__price">от 250 ₽/м2</span>
      </li>

      <li class="price-list__item">
        <div class="price-list-previev">
          <img src="img/work-2.png" alt="work-2" class="price-list-previev__img">
        </div>
        <h3 class="price-list__title">СНиП “Улучшенная” штукатурка</h3>
        <span class="price-list__price">от 300 ₽/м2</span>
      </li>

      <li class="price-list__item">
        <div class="price-list-previev">
          <img src="img/work-3.png" alt="work-3" class="price-list-previev__img">
        </div>
        <h3 class="price-list__title">СНиП “Высококачественная” штукатурка</h3>
        <span class="price-list__price">от 350 ₽/м2</span>
      </li>
    </ul>

    <h3 class="price-title">Что входит в стоимость штукатурных работ?</h3>

    <ul class="works-description-list">
      <li class="works-description-list__item">
        <ul class="works-list">
          <li class="works-list__item">Грунтование стен</li>
          <li class="works-list__item">Нанесение штукатурной смеси</li>
          <li class="works-list__item">Выравнивание штукатурки под правило</li>
        </ul>

        <a href="#" class="works-description-list__link">Подробнее</a>
      </li>

      <li class="works-description-list__item">
        <ul class="works-list">
          <li class="works-list__item">Грунтование стен</li>
          <li class="works-list__item">Установка штукатурных маяков</li>
          <li class="works-list__item">Нанесение штукатурной смеси</li>
          <li class="works-list__item">Удаление штукатурных маяков</li>
          <li class="works-list__item">Выравнивание штукатурки под правило</li>
        </ul>

        <a href="#" class="works-description-list__link">Подробнее</a>
      </li>

      <li class="works-description-list__item">
        <ul class="works-list">
          <li class="works-list__item">Грунтование стен</li>
          <li class="works-list__item">Монтаж сетки в местах разнородных материалов</li>
          <li class="works-list__item">Установка штукатурных маяков</li>
          <li class="works-list__item">Нанесение штукатурной смеси</li>
          <li class="works-list__item">Удаление штукатурных маяков</li>
          <li class="works-list__item">Выравнивание штукатурки под правило</li>
          <li class="works-list__item">Глянцевание поверхности</li>
          <li class="works-list__item">Заглаживание поверхности (шпатлевание)</li>
        </ul>

        <a href="#" class="works-description-list__link">Подробнее</a>
      </li>
    </ul>
  </div>
</section>