<section class="consultation section_blue">
  <div class="container">
    <div class="consultation-inner-wrapper">
      <div class="consultation-title-wrapper section-title-wrapper">
        <h3 class="section-title">
          Получи бесплатную консультацию
        </h3>
        <p class="section-description">
          Просто оставьте свои контактные данные и наши специалисты проконсультируют вас по любому вопросу
        </p>
      </div>

      <form class="consultation-form" action="#" method="post">
        <input class="consultation-form__input" type="text" name="" id="" placeholder="Ваше имя">
        <input class="consultation-form__input" type="text" name="" id="" placeholder="+7 (999) 999 99 99">
        <button class="consultation-form__btn" type="submit">Отправить</button>
        <p class="consultation-form__warning">
          Отправляя заявку вы даете согласие на
          <a class="consultation-form__link" href="#">обработку своих персональных данных</a>
        </p>
      </form>
    </div>
  </div>
</section>