<section class="technologies section_blue">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Процесс оштукатуривания машинным способом
      </h3>
      <p class="section-description">
        Наглядно показываем материалами Процесс оштукатуривания машинным способом
      </p>
    </div>

    <ul class="technologies-list">
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "1",
        "imageUrl": "img/process-1.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "2",
        "imageUrl": "img/process-2.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "3",
        "imageUrl": "img/process-3.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "4",
        "imageUrl": "img/process-4.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "5",
        "imageUrl": "img/process-5.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "6",
        "imageUrl": "img/process-6.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "7",
        "imageUrl": "img/process-7.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
      <li class="technologies-list__item">
        @@include('../technologiesItem/_technologiesItem.html', {
        "number": "8",
        "imageUrl": "img/process-8.png",
        "title": "СНиП “Простая” штукатурка"
        })
      </li>
    </ul>

    <div class="technologies-link">
      <a href="#" class="technologies__link more-link">Подробнее</a>
    </div>
  </div>
</section>