<section class="materials section_white">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Используемые материалы
      </h3>
      <p class="section-description">
        Вы можете ознакомиться с материалами которые мы используем в своей работе
      </p>
    </div>

    <div class="materials-slider">
      <div class="swiper materials-swiper">
        <div class="swiper-wrapper materials-swiper-wrapper">
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
          <div class="swiper-slide materials-slider__slide">
            @@include('../materialCard/_materialCard.html', {
            "img": "img/material.png",
            "title": "Штукатурка",
            "description": "Мы используем только качественные материалы"
            })
          </div>
        </div>

        <div class="materials-slider-navigation">
          <div class="swiper-button-prev materials-slider-prev"></div>
          <div class="swiper-pagination materials-slider-pagination"></div>
          <div class="swiper-button-next materials-slider-next"></div>
        </div>

      </div>

    </div>
  </div>

</section>