<section class="process section_white">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Как мы работаем
      </h3>
      <p class="section-description">
        Наглядно показываем материалами Процесс оштукатуривания машинным способом
      </p>
    </div>

    <ul class="process-list">
      <li class="process-list__item">
        @@include('../processItem/_processItem.html', {
        "number": "1",
        "title": "Выезд замерщика",
        "iconUrl": "img/process-icon-1.svg"
        })
      </li>
      <li class="process-list__item">
        @@include('../processItem/_processItem.html', {
        "number": "2",
        "title": "Согласование сметы и сроков работ",
        "iconUrl": "img/process-icon-2.svg"
        })
      </li>
      <li class="process-list__item">
        @@include('../processItem/_processItem.html', {
        "number": "3",
        "title": "Подписание договора бригады на объекты",
        "iconUrl": "img/process-icon-3.svg"
        })
      </li>
      <li class="process-list__item">
        @@include('../processItem/_processItem.html', {
        "number": "4",
        "title": "Выполнение работ",
        "iconUrl": "img/process-icon-4.svg"
        })
      </li>
      <li class="process-list__item">
        @@include('../processItem/_processItem.html', {
        "number": "5",
        "title": "Подписание актов выполненных работ",
        "iconUrl": "img/process-icon-5.svg"
        })
      </li>
    </ul>
  </div>
</section>