<section class="equipment section_white">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Наше оборудование
      </h3>
      <p class="section-description">
        Наглядно показываем материалами Процесс оштукатуривания машинным способом
      </p>
    </div>

    <ul class="equipment-list">
      <li class="equipment-list__item">
        @@include('../equipmentItem/_equipmentItem.html', {
        "imageUrl": "img/equipment-1.png",
        "title": "Штукатурная станция PFT G4",
        "link": "#"
        })
      </li>
      <li class="equipment-list__item">
        @@include('../equipmentItem/_equipmentItem.html', {
        "imageUrl": "img/equipment-2.png",
        "title": "Штукатурная станция KALETA 5",
        "link": "#"
        })
      </li>
      <li class="equipment-list__item">
        @@include('../equipmentItem/_equipmentItem.html', {
        "imageUrl": "img/equipment-3.png",
        "title": "Штукатурная станция PFT RITMO XL",
        "link": "#"
        })
      </li>
    </ul>
  </div>
</section>