<section class="advantages section_blue">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Преимущества механизированной штукатурки
      </h3>
      <p class="section-description">
        Рассчитайте стоимость механизированной штукатурки в новостройках, домах, помещениях, зданиях и квартирах.
      </p>
    </div>

    <ul class="advantages-list">
      <li class="advantages-list__item">
        <div class="advantages-list__img">
          <img class="advantages-list__icon" src="img/clock.svg" alt="clock">
        </div>
        <h4 class="advantages-list__title">
          Выгода во времени
        </h4>
        <p class="advantages-list__description">
          Данная технология намного быстрее, чем традиционные методы штукатурки
        </p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__img">
          <img class="advantages-list__icon" src="img/achivement.svg" alt="achivement">
        </div>
        <h4 class="advantages-list__title">
          Высокое качество
        </h4>
        <p class="advantages-list__description">
          Стены готовы под оклейку обоями и нанесение декоративной штукатурки </p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__img">
          <img class="advantages-list__icon" src="img/money.svg" alt="money">
        </div>
        <h4 class="advantages-list__title">
          Низкий бюджет
        </h4>
        <p class="advantages-list__description">
          Это не только быстро и качествеено, но и значительно дешевле!
        </p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__img">
          <img class="advantages-list__icon" src="img/awordIcon.svg" alt="aword">
        </div>
        <h4 class="advantages-list__title">
          Результат
        </h4>
        <p class="advantages-list__description">
          Все работы проводятся с высокой точностью и позволяют получить наилучший результат
        </p>
      </li>
    </ul>
  </div>
</section>