<section class="about section_white">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">Мы в цифрах</h3>
      <p class="about-description section-description">
        После работы нашей компании было выполнено огромное количество проектов ниже цифры наших достижений
      </p>
    </div>

    <ul class="about-list">
      <li class="about-list__item">
        <span class="about-list__value">177</span>
        <span class="about-list__description">Завершенных проектов</span>
      </li>
      <li class="about-list__item">
        <span class="about-list__value">130</span>
        <span class="about-list__description">Построенных зданий</span>
      </li>
      <li class="about-list__item">
        <span class="about-list__value">6</span>
        <span class="about-list__description">Лет надежной работы</span>
      </li>
      <li class="about-list__item">
        <span class="about-list__value">200+</span>
        <span class="about-list__description">Сотрудников в компании</span>
      </li>
    </ul>
  </div>
</section>