<section class="main-slider">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper main-swiper-wrapper">

      <div class="swiper-slide main-slider__slide">
        <img class="main-slider__img" src="img/slider-1.png" alt="slide">
        <div class="main-slider-content-wrapper">
          <div class="container">
            <div class="main-slider-content section-title-wrapper">
              <h3 class="main-slider__title section-title">
                Механизированная штукатурка стен от 250 р/м2
              </h3>
              <p class="main-slider__desctiption section-desctiption">
                Качественная механизированная шуткатурка в новостройках, домах, помещениях, зданиях и квартирах.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide main-slider__slide">
        <img class="main-slider__img" src="img/work-3.png" alt="slide">
        <div class="main-slider-content-wrapper">
          <div class="container">
            <div class="main-slider-content section-title-wrapper content_white">
              <h3 class="main-slider__title section-title">
                Механизированная штукатурка стен от 250 р/м2
              </h3>
              <p class="main-slider__desctiption section-desctiption">
                Качественная механизированная шуткатурка в новостройках, домах, помещениях, зданиях и квартирах.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide main-slider__slide">
        <img class="main-slider__img" src="img/work-2.png" alt="slide">
        <div class="main-slider-content-wrapper">
          <div class="container">
            <div class="main-slider-content section-title-wrapper content_white">
              <h3 class="main-slider__title section-title">
                Механизированная штукатурка стен от 250 р/м2
              </h3>
              <p class="main-slider__desctiption section-desctiption">
                Качественная механизированная шуткатурка в новостройках, домах, помещениях, зданиях и квартирах.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination main-slider-pagination"></div>
    </div>
</section>