<header class="header">
  <div class="header-box header-top-box">
    <div class="container">
      <div class="header-box__wrapper">

        <div class="logo">
          <img class="logo__img" src="img/logo.png" alt="logo">
        </div>

        <button class="call-btn">
          Заказать обратный звонок
        </button>

        <div class="header-numder">
          <img class="header-numder__img" src="img/phoneIcon.svg" alt="phoneIcon">
          <a class="header-numder__number" href="tel:+74996476347">
            +7 (499) 647-63-47
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="header-box">
    <div class="container">
      <div class="header-box__wrapper header-bottom-box">

        <nav class="header-navigation">
          <ul class="navigation-list">
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                Главная
              </a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                Штукатурка фасадов
              </a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                Галерея
              </a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                Карта объектов
              </a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                Информация
              </a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                О компании
              </a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__link">
                Контакты
              </a>
            </li>
          </ul>
        </nav>

        <button class="calc-btn">
          <img class="calc-btn__icon" src="img/calcIcon.svg" alt="calcIcon">
          <span class="calc-btn__text">Калькулятор</span>
        </button>

      </div>
    </div>
  </div>
</header>