<section class="video section_white">
  <div class="container">
    <div class="section-title-wrapper">
      <h3 class="section-title">
        Видео обзор штукатурных работ
      </h3>
      <p class="section-description">
        Посмотрите видео-обзор штукатурных работ от специалистов компании “Штукатурки.net”
      </p>
    </div>

    <div class="video-box">
      <div class="video-wrapper">
        <!-- <iframe width="560" height="315" class="video__iframe" src="https://www.youtube.com/embed/jwWhxlAC1JI"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe> -->
        <div class="video__iframe"></div>
      </div>

      <div class="video-description-wrapper">
        <h4 class="video__title">
          Видео обзор штукатурных работ механизированным способом
        </h4>

        <p class="video__description">
          В этом видео показан краткий обзор проведения штукатурных работ механизированным способом с использованием
          современного оборудования и высококачественных материалов
        </p>

        <a href="#" class="video__link more-link">Подробнее</a>
      </div>
    </div>
  </div>
</section>