* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 140%;
  color: #254152;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-box {
  position: relative;
}

.header-box::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(37, 65, 82, 0.15);
  position: absolute;
  bottom: 0;
}

.header-box__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-box {
  padding: 15px 0;
}

.call-btn {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #E7F2F9;
  cursor: pointer;
}

.header-numder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-numder__number {
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 15px;
}

.header-bottom-box {
  padding: 6px 0;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation-list li + li {
  margin-left: 24px;
}

.calc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: #BCD249;
  cursor: pointer;
}

.calc-btn__text {
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 5px;
}
